@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root {
  --background-url: url(food/13.svg);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
}

input {
  width: 2em;
  height: 2em;
}

h1 {
  margin-bottom: 0.5em;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}


.platform {
  display: flex;
}

.playground-container {
  height: 50rem;
  width: 50rem;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: rgba(209, 216, 255, 0.8);
}

.outerCell {
  background-color: white;
}

.randomCell {
  background: var(--background-url);
  background-size:cover;
}

.snake-color {
  background: url(snake-color.svg);
  background-size: cover;
}
.snake-head-left {
  background: url(snake-head-left.svg);
  background-size: cover;
}

.snake-head-right {
  background: url(snake-head-right.svg);
  background-size: cover;
}
.snake-head-up {
  background: url(snake-head-up.svg);
  background-size: cover;
}
.snake-head-down {
  background: url(snake-head-down.svg);
  background-size: cover;
}

.info-container {
  position:relative;
  margin-top: 40px;
  height: 720px;
  width:30rem;
  text-align: center;
  border-radius: 2rem;
  background-color: whitesmoke;
}

p {
  margin-top: 40px;
  font-size: 4rem;
}

.button-container {
  position: relative;
  margin: 2rem; 
  display: flex;
  justify-content: center;
}

.button {
  display: block;
  width: 15rem;
  font-size: 2.5rem;
  margin: auto;
  padding: 1.5rem;
  border-radius: 10rem;
  text-shadow: black;
  cursor: pointer;
  outline: none;
  background-color:lightsalmon;
  border: none;
  box-shadow: 2px 2px 20px 10px rgba(0,0,0,0.2);
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
}
.button:hover {
  filter: brightness(95%);
}
.button:active {
  transform: scale(0.98);
}
.button:disabled {
  cursor: default;
  filter: brightness(30%);
}

.speed-container {
  display: flex;
  justify-content:space-around;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}

#score-count {
  padding-left: 1.5rem;
}


